:root {
  font-size: 16px/1 em;
  font-family: 'Rubik', sans-serif;
  --main-color: #e3dcca;
  --font-color: #fedbcc;
  --font-sub: #2f3737;
  --background-color: #303030;
  --banner-color: #191919;
}
#logo {
  text-decoration: underline;
}
#small {
  height: 25rem;
  width: 25rem;
  border-radius: 0.5rem;
}
.container {
  padding: 0.5rem;
  height: 200px;
  width: 100%;
  display: flex;
  display: grid;
  align-items: center;
  justify-content: center;
}
span {
  text-align: center;
  color: var(--font-color);
  font-size: 1.5rem;
}
.medium {
  font-weight: 600;
  font-size: larger;
  /* justify-content: baseline; */
  /* text-align: -moz-center; */
  color: var(--font-color);
}
.subhead {
  font-size: 1.5rem;
  color: var(--font-color);
  /* background-color: antiquewhite; */
}
.center {
  box-align: center;
}
.main {
  background-color: var(--banner-color);
  color: var(--font-color);
  height: 48rem;
  /* margin-top: 0.5rem; */
  padding: 0.5rem 0 0;
  text-align: center;
}
nav {
  text-align: right;
  height: 3rem;
  background-color: var(--main-color);
  padding: 40px 40px 0 40px;
}

button {
  color: #fedbcc;
  padding: 0.5rem;
  border: none;
  border-radius: 0.2rem;
  background-color: black;
}
button:hover {
  color: black;
  border-radius: 0.2rem;
  border-color: #191919;
  background-color: var(--font-color);
}

a {
  text-decoration: none;
  padding: 5px 10px;
  color: var(--banner-color);
}
a:hover {
  color: var(--font-color);
  background-color: var(--background-color);
}

body {
  background-color: var(--background-color);
}

h1 {
  display: relative;
  font-weight: bolder;
  font-size: 4rem;
  color: var(--font-color);
}
h3 {
  margin: auto;
  display: center;
  align-self: center;
  font-size: 1rem;
  color: var(--font-color);
}
p {
  padding: 10px 10px 0 50px;
  text-align: -moz-center;
}

audio {
  margin-top: 10px;
  display: relative;
}

footer {
  /* position: fixed; */
  background-color: #303030;

  text-shadow: #191919;
  height: 5rem;
}
